TODO.md
experimental
examples/**/*.ipynb
examples/**/*.pkl
examples/**/*.png
examples/**/checkpoint_optimized/

examples/06-AuCu/results/checkpoint*
examples/06-AuCu/results/*.py
examples/06-AuCu/results/*.pt
examples/06-AuCu/resources/*.py

examples/**/figures/
examples/trash
misc
**/__pycache__
src/*.py
src/*.ipynb
*.code-workspace
manuscript
**/.DS_Store
.vscode